body{
        Background-color:white;
        color: white;
        font-family: sans-serif;
        image-orientation: center;
        }


.cloud-timelapse:hover{
    opacity: .25;
     transition: opacity 0.5s ease;
        
}


img:hover{
    
    
      opacity: .75;
     transition: opacity 0.5s ease;
   
}


body:hover{
    background-color: black;
    
}




.whatistime:hover{
    color: aqua;
    transition: 2s ease;
}

.description:hover{
    color: yellow;
    transition: 2s ease;

}
