body{
    background-color: black;
    
}

#rectangle1{
     position:absolute;
   
            background-color:white;
            width:200px;
            height:50px;
            top: 550px;
    
}


#rectangle2{
     position: absolute;
            top: 550px;
            left:275px;
            background-color:white;
            width:200px;
            height:40px;
}


#rectangle3{
     position: absolute;
            top: 550px;
            left:550px;
            background-color:white;
            width:200px;
            height:20px;   
}