body{
    background-color: black;
    
}

#rectangle1{
     position:absolute;
   
            background-color:white;
            width:200px;
            height:50px;
            top: 550px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}


#rectangle2{
     position: absolute;
            top: 250px;
            left:75px;
            background-color:white;
            width:200px;
            height:40px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(650deg);
}


#rectangle3{
     position: absolute;
            top: 550px;
            left:350px;
            background-color:white;
            width:200px;
            height:20px;   
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(50deg);
}