


.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
    

.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}
    

.flex-item-1 {
    width: 300px;
    height: 250px;
    flex-grow: <property unused>
    flex-shrink: <property unused>
    flex-basis: <property unused>
}
  


